body {
   display: flex;
   flex-direction: column;
   margin: 0;
   background-color: white;
   color: #0f0f0f;
   word-spacing: normal;
   word-break: break-word;
   font-family: ABBvoice-Medium, sans-serif;
   height: 100vh;
}

/* header and navigation bar */
header {
   display: flex;
   box-shadow: inset 0 -1px 0 #ebebeb;
   align-items: center;
   justify-content: space-between;
}

.logo {
   margin: 10px 50px;
}

#navigation-bar {
   overflow: hidden;
   text-align: center;
   margin: 0 auto;
}

#navigation-bar button {
   background-color: inherit;
   float: center;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 25px 16px;
   transition: 0.3s;
   font-weight: bold;
   font-size: 16px;
   width: 150px
}

#navigation-bar button:hover {
   box-shadow: inset 0 -4px 0 #ff000f;
}

#navigation-bar button.active {
   box-shadow: inset 0 -4px 0 #ff000f;
}

#hamburger {
   display: none;
   background-color: inherit;
   border: none;
   outline: none;
   cursor: pointer;
   transition: 0.3s;
   font-weight: bold;
   font-size: 32px;
   padding: 0px 16px;
}

@media screen and (max-width: 600px) {
   #navigation-bar {
       display: none;
   }

   #hamburger {
       display: block;
   }
}

/* main app */

#app-content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100% !important;
   height: 100% !important;
   flex-grow: 1;
}

/* elements composing the app */

#infoPanel {
   flex-basis: 10%;
   margin: 20px;
   padding: 10px;
   box-shadow: 0 0 2px 0 rgb(0 0 0 / 30%);
   text-align: justify;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   flex-grow: 1;
   min-width: 300px;
}

#chartAndToolsPanel {
   flex-basis: 70%;
   text-align: justify;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

/* charts */

.chart-container {
   width: 100%;
   flex-grow: 1;
   margin: 10px;
}

canvas {
   width: 100% !important;
   height: 100% !important;
 }

#Chart_Tools {
   text-align: center;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

/* Chart tools and disclaimer */
#disclaimer {
   font-size: 12px;
   color: #333;
   text-align: center;
   margin: 10px 0;
}

#Controllers_CheckBox {
   text-align: center;
}

input[type="checkbox" i] {
   width: 16px;
   height: 16px;
   border-color: #bababa;
   accent-color: #2a35ff;
}

#Reset {
   display: inline-flex;
   height: 40px;
   padding: 12px 20px;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   background: #D9D9D9;
   border: 0;
   font-size: 14px;
   color: #1F1F1F;
   cursor: pointer;
   margin: 10px;
}

#Reset:hover:active {
   background: #B4B4B4;
}

#Reset:hover {
   background: #C5C5C5;
}

.controller_supported {
   display: inline-flex;
   height: 14px;
   padding: 3px 7px;
   justify-content: center;
   align-items: center;
   border-radius: 27px;
   background: #FFF;
   color: #333;
   font-size: 10px;
   margin: 12px 3px;
   border: 2px solid #b4b4b4;
}

#supported_controllers {
   text-align: center;
}

/* Info Panel elements*/

#color {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   margin: 0px 20px;
   padding: 0px
}

#IRBName {
   display: inline-block;
}

#MoreContainer {
   margin-top: auto;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   background-color: #ff000f;
   color: white;
   border: 0;
   border-radius: 24px;
   text-decoration: none;
   padding: 14px 24px;
   font-size: 16px;
   line-height: 20px;
   height: 48px;
   flex-grow: 0;
   flex-shrink: 0;
}

a {
   text-decoration: none;
   color: white;
}

#MoreContainer:hover {
   background-color: #bb2924;
   cursor: pointer;
}